*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Source-Code-Pro;
 }
/*body {
   background: #f69a73;
}*/
 body {
  width: 100%;
/*  height:100vh;*/
}

body {
    background: linear-gradient(-45deg, #E9EFF6, #FFAE18, #FF9218, #FFF21A);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.menu-main {
  list-style: none;
/*  margin: 40px 0 5px;*/
  padding: 25px 0 5px;
  text-align: center;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
/*.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}*/

@media (max-width: 550px) {
.menu-main {
    padding-top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 10px 0 10px; 
  margin: 0 18px;
  font-size: 9px;
  font-weight: 900;
  
}
}


.decor {
   position: relative;
   max-width: 400px;
   margin: 150px auto 0;
   background: white;
   border-radius: 30px;
}
.form-left-decoration, .form-right-decoration {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   background: #f69a73;
   border-radius: 20px;
}
.form-left-decoration {
   bottom: 60px;
   left: -30px;
   animation: left-decoration 5s infinite;

}
.form-right-decoration {
   top: 60px;
   right: -50px;
   animation: left-decoration 5s infinite;
}
.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   border-radius: 30px;
   background: white;
}
.form-left-decoration:before {
   top: -20px;
}
.form-left-decoration:after {
   top: 20px;
   left: 10px;
}
.form-right-decoration:before {
   top: -20px;
   right: 0;
}
.form-right-decoration:after {
   top: 20px;
   right: 10px;
}
.circle {
   position: absolute;
   bottom: 80px;
   left: -55px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: white;
}
.form-inner {
   padding: 50px;
}
.form-inner input, .form-inner textarea {
   display: block;
   width: 100%;
   padding: 0 20px;
   margin-bottom: 10px;
   background: #E9EFF6;
   line-height: 40px;
   border-width: 0;
   border-radius: 20px;
   font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
   margin-top: 30px;
   background: #f69a73;
   border-bottom: 4px solid #d87d56;
   color: white;
   font-size: 14px;
   transition: 0.5s;
}
.form-inner input[type="submit"]:hover{
  background: #FF5E18;
  border-bottom: 4px solid #FF5E18;
  font-size: 16px;
}
.form-inner textarea {
   resize: none;
}
.form-inner h3 {
   margin-top: 0;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 24px;
   margin-bottom: 20px;
   color: #707981;
}

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
/*  height: 20%;*/
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
  font-size: 20px;
}

.footer-basic ul a:hover {
  opacity:1;
  color: #feb386;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:60px;
  height:60px;
  line-height:60px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;

}

.footer-basic .social > a:hover {
  opacity:0.9;
  color: #feb386;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


@media (max-width: 550px){
  .decor {
   position: relative;
   max-width: 250px;
   margin: 150px auto 0;
   background: white;
   border-radius: 30px;
}
}

@keyframes left-decoration{
  0%{
    transform: translateX(-40px);
  }
  50%{
  transform: translateX(-20px);
  }
  100%{
    transform: translateX(-40px);
  }
}